<a href="https://colab.research.google.com/github/drshahizan/HPDP/blob/main/lab/submission/HANY/ans_lab1a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 1a - Understanding Your Data

Please use the [**Chipotle Sales dataset**](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv) for this exercise.



### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as py

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv).

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/drshahizan/dataset/main/pandas/chipotle.tsv',sep='\t')

### Step 3. Assign it to a variable called chipo.

In [ ]:
chipo = data

### Step 4. See the first 10 entries

In [ ]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [ ]:
# Solution 1
chipo.shape[0]

4622

In [ ]:
# Solution 2
len(chipo)

4622

### Step 6. What is the number of columns in the dataset?

In [ ]:
num_columns = chipo.shape[1]
print(num_columns)

5

### Step 7. Print the name of all the columns.

In [ ]:
column_names = chipo.columns

for column in column_names:
    print(column)

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [ ]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [ ]:
item_counts = data.groupby('item_name')['quantity'].sum()

item_counts.idxmax()

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
chipo['item_name'].value_counts().max()

726

### Step 11. What was the most ordered item in the choice_description column?

In [ ]:
choice_description_counts = data.groupby('choice_description')['quantity'].sum()

choice_description_counts.idxmax()

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [ ]:
choice_description_counts.max()

159

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [ ]:
chipo['item_price'].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [ ]:
convert_float = lambda price: float(price[1:])

chipo['item_price'] = chipo['item_price'].apply(convert_float)

#### Step 13.c. Check the item price type

In [ ]:
chipo['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [ ]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))

chipo['revenue'] = chipo['item_price'] * chipo['quantity']
chipo['revenue'].sum()

39237.02

### Step 15. How many orders were made in the period?

In [ ]:
chipo['order_id'].nunique()

1834

### Step 16. What is the average revenue amount per order?

In [ ]:
# Solution 1
(chipo["quantity"] * chipo["item_price"] ).sum() / chipo["order_id"].nunique()

21.39423118865867

In [ ]:
# Solution 2
(chipo["quantity"]*chipo["item_price"]).groupby(chipo["order_id"]).sum().mean()

21.39423118865867

### Step 17. How many different items are sold?

In [ ]:
chipo['item_name'].nunique()

50