In [ ]:
!pip install supabase

Collecting supabase
  Downloading supabase-2.15.1-py3-none-any.whl.metadata (11 kB)
Collecting gotrue<3.0.0,>=2.11.0 (from supabase)
  Downloading gotrue-2.12.0-py3-none-any.whl.metadata (6.1 kB)
Requirement already satisfied: httpx<0.29,>=0.26 in /usr/local/lib/python3.11/dist-packages (from supabase) (0.28.1)
Collecting postgrest<1.1,>0.19 (from supabase)
  Downloading postgrest-1.0.1-py3-none-any.whl.metadata (3.5 kB)
Collecting realtime<2.5.0,>=2.4.0 (from supabase)
  Downloading realtime-2.4.3-py3-none-any.whl.metadata (6.7 kB)
Collecting storage3<0.12,>=0.10 (from supabase)
  Downloading storage3-0.11.3-py3-none-any.whl.metadata (1.8 kB)
Collecting supafunc<0.10,>=0.9 (from supabase)
  Downloading supafunc-0.9.4-py3-none-any.whl.metadata (1.2 kB)
Requirement already satisfied: pydantic<3,>=1.10 in /usr/local/lib/python3.11/dist-packages (from gotrue<3.0.0,>=2.11.0->supabase) (2.11.4)
Requirement already satisfied: pyjwt<3.0.0,>=2.10.1 in /usr/local/lib/python3.11/dist-packages (from gotrue<3.0.0,>=2.11.0->supabase) (2.10.1)
Collecting pytest-mock<4.0.0,>=3.14.0 (from gotrue<3.0.0,>=2.11.0->supabase)
  Downloading pytest_mock-3.14.0-py3-none-any.whl.metadata (3.8 kB)
Requirement already satisfied: anyio in /usr/local/lib/python3.11/dist-packages (from httpx<0.29,>=0.26->supabase) (4.9.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.11/dist-packages (from httpx<0.29,>=0.26->supabase) (2025.4.26)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.11/dist-packages (from httpx<0.29,>=0.26->supabase) (1.0.9)
Requirement already satisfied: idna in /usr/local/lib/python3.11/dist-packages (from httpx<0.29,>=0.26->supabase) (3.10)
Requirement already satisfied: h11>=0.16 in /usr/local/lib/python3.11/dist-packages (from httpcore==1.*->httpx<0.29,>=0.26->supabase) (0.16.0)
Collecting deprecation<3.0.0,>=2.1.0 (from postgrest<1.1,>0.19->supabase)
  Downloading deprecation-2.1.0-py2.py3-none-any.whl.metadata (4.6 kB)
Collecting aiohttp<4.0.0,>=3.11.18 (from realtime<2.5.0,>=2.4.0->supabase)
  Downloading aiohttp-3.11.18-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (7.7 kB)
Requirement already satisfied: python-dateutil<3.0.0,>=2.8.1 in /usr/local/lib/python3.11/dist-packages (from realtime<2.5.0,>=2.4.0->supabase) (2.9.0.post0)
Requirement already satisfied: typing-extensions<5.0.0,>=4.13.2 in /usr/local/lib/python3.11/dist-packages (from realtime<2.5.0,>=2.4.0->supabase) (4.13.2)
Collecting websockets<15,>=11 (from realtime<2.5.0,>=2.4.0->supabase)
  Downloading websockets-14.2-cp311-cp311-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.8 kB)
Collecting strenum<0.5.0,>=0.4.15 (from supafunc<0.10,>=0.9->supabase)
  Downloading StrEnum-0.4.15-py3-none-any.whl.metadata (5.3 kB)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp<4.0.0,>=3.11.18->realtime<2.5.0,>=2.4.0->supabase) (2.6.1)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.11/dist-packages (from aiohttp<4.0.0,>=3.11.18->realtime<2.5.0,>=2.4.0->supabase) (1.3.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp<4.0.0,>=3.11.18->realtime<2.5.0,>=2.4.0->supabase) (25.3.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.11/dist-packages (from aiohttp<4.0.0,>=3.11.18->realtime<2.5.0,>=2.4.0->supabase) (1.6.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.11/dist-packages (from aiohttp<4.0.0,>=3.11.18->realtime<2.5.0,>=2.4.0->supabase) (6.4.3)
Requirement already satisfied: propcache>=0.2.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp<4.0.0,>=3.11.18->realtime<2.5.0,>=2.4.0->supabase) (0.3.1)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp<4.0.0,>=3.11.18->realtime<2.5.0,>=2.4.0->supabase) (1.20.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from deprecation<3.0.0,>=2.1.0->postgrest<1.1,>0.19->supabase) (24.2)
Requirement already satisfied: h2<5,>=3 in /usr/local/lib/python3.11/dist-packages (from httpx[http2]<0.29,>=0.26->gotrue<3.0.0,>=2.11.0->supabase) (4.2.0)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.11/dist-packages (from pydantic<3,>=1.10->gotrue<3.0.0,>=2.11.0->supabase) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in /usr/local/lib/python3.11/dist-packages (from pydantic<3,>=1.10->gotrue<3.0.0,>=2.11.0->supabase) (2.33.2)
Requirement already satisfied: typing-inspection>=0.4.0 in /usr/local/lib/python3.11/dist-packages (from pydantic<3,>=1.10->gotrue<3.0.0,>=2.11.0->supabase) (0.4.0)
Requirement already satisfied: pytest>=6.2.5 in /usr/local/lib/python3.11/dist-packages (from pytest-mock<4.0.0,>=3.14.0->gotrue<3.0.0,>=2.11.0->supabase) (8.3.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil<3.0.0,>=2.8.1->realtime<2.5.0,>=2.4.0->supabase) (1.17.0)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.11/dist-packages (from anyio->httpx<0.29,>=0.26->supabase) (1.3.1)
Requirement already satisfied: hyperframe<7,>=6.1 in /usr/local/lib/python3.11/dist-packages (from h2<5,>=3->httpx[http2]<0.29,>=0.26->gotrue<3.0.0,>=2.11.0->supabase) (6.1.0)
Requirement already satisfied: hpack<5,>=4.1 in /usr/local/lib/python3.11/dist-packages (from h2<5,>=3->httpx[http2]<0.29,>=0.26->gotrue<3.0.0,>=2.11.0->supabase) (4.1.0)
Requirement already satisfied: iniconfig in /usr/local/lib/python3.11/dist-packages (from pytest>=6.2.5->pytest-mock<4.0.0,>=3.14.0->gotrue<3.0.0,>=2.11.0->supabase) (2.1.0)
Requirement already satisfied: pluggy<2,>=1.5 in /usr/local/lib/python3.11/dist-packages (from pytest>=6.2.5->pytest-mock<4.0.0,>=3.14.0->gotrue<3.0.0,>=2.11.0->supabase) (1.5.0)
Downloading supabase-2.15.1-py3-none-any.whl (17 kB)
Downloading gotrue-2.12.0-py3-none-any.whl (43 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 43.6/43.6 kB 2.7 MB/s eta 0:00:00
Downloading postgrest-1.0.1-py3-none-any.whl (22 kB)
Downloading realtime-2.4.3-py3-none-any.whl (22 kB)
Downloading storage3-0.11.3-py3-none-any.whl (17 kB)
Downloading supafunc-0.9.4-py3-none-any.whl (7.8 kB)
Downloading aiohttp-3.11.18-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.7 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 1.7/1.7 MB 34.9 MB/s eta 0:00:00
Downloading deprecation-2.1.0-py2.py3-none-any.whl (11 kB)
Downloading pytest_mock-3.14.0-py3-none-any.whl (9.9 kB)
Downloading StrEnum-0.4.15-py3-none-any.whl (8.9 kB)
Downloading websockets-14.2-cp311-cp311-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (169 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 169.9/169.9 kB 11.5 MB/s eta 0:00:00
Installing collected packages: strenum, websockets, deprecation, pytest-mock, aiohttp, realtime, supafunc, storage3, postgrest, gotrue, supabase
  Attempting uninstall: websockets
    Found existing installation: websockets 15.0.1
    Uninstalling websockets-15.0.1:
      Successfully uninstalled websockets-15.0.1
  Attempting uninstall: aiohttp
    Found existing installation: aiohttp 3.11.15
    Uninstalling aiohttp-3.11.15:
      Successfully uninstalled aiohttp-3.11.15
Successfully installed aiohttp-3.11.18 deprecation-2.1.0 gotrue-2.12.0 postgrest-1.0.1 pytest-mock-3.14.0 realtime-2.4.3 storage3-0.11.3 strenum-0.4.15 supabase-2.15.1 supafunc-0.9.4 websockets-14.2

In [ ]:
from supabase import create_client, Client

url = "https://ugjwigpcopmtjgylopwf.supabase.co"
key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVnandpZ3Bjb3BtdGpneWxvcHdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDU4MjgxMjIsImV4cCI6MjA2MTQwNDEyMn0.oFcP1wCt1upByqTU8NgD4FpJUdv9I8sG1ECWMX1wz8I"

supabase: Client = create_client(url, key)

In [ ]:
# Example: Read all rows from "cars" table
# Initialize response object
response = supabase.table("cars_before_clean").select("*").range(0, 999).execute()

# Set up pagination loop
batch_size = 1000
offset = 1000  # Start from after the first 1000 rows

# Continue fetching in chunks until no more data is left
while True:
    batch_response = supabase.table("cars_before_clean").select("*").range(offset, offset + batch_size - 1).execute()
    rows = batch_response.data

    if not rows:
        break

    # Add fetched rows to the response.data
    response.data.extend(rows)

    # Update offset for the next batch
    offset += batch_size

    print(f"Fetched {len(response.data)} rows so far...")

# Final result stored in response.data
print(f"‚úÖ Done. Total rows fetched: {len(response.data)}")

Fetched 2000 rows so far...
Fetched 3000 rows so far...
Fetched 4000 rows so far...
Fetched 5000 rows so far...
Fetched 6000 rows so far...
Fetched 7000 rows so far...
Fetched 8000 rows so far...
Fetched 9000 rows so far...
Fetched 10000 rows so far...
Fetched 11000 rows so far...
Fetched 12000 rows so far...
Fetched 13000 rows so far...
Fetched 14000 rows so far...
Fetched 15000 rows so far...
Fetched 16000 rows so far...
Fetched 17000 rows so far...
Fetched 18000 rows so far...
Fetched 19000 rows so far...
Fetched 20000 rows so far...
Fetched 21000 rows so far...
Fetched 22000 rows so far...
Fetched 23000 rows so far...
Fetched 24000 rows so far...
Fetched 25000 rows so far...
Fetched 26000 rows so far...
Fetched 27000 rows so far...
Fetched 28000 rows so far...
Fetched 29000 rows so far...
Fetched 30000 rows so far...
Fetched 31000 rows so far...
Fetched 32000 rows so far...
Fetched 33000 rows so far...
Fetched 34000 rows so far...
Fetched 35000 rows so far...
Fetched 36000 rows so far...
Fetched 37000 rows so far...
Fetched 38000 rows so far...
Fetched 39000 rows so far...
Fetched 40000 rows so far...
Fetched 41000 rows so far...
Fetched 42000 rows so far...
Fetched 43000 rows so far...
Fetched 44000 rows so far...
Fetched 45000 rows so far...
Fetched 46000 rows so far...
Fetched 47000 rows so far...
Fetched 48000 rows so far...
Fetched 49000 rows so far...
Fetched 50000 rows so far...
Fetched 51000 rows so far...
Fetched 52000 rows so far...
Fetched 53000 rows so far...
Fetched 54000 rows so far...
Fetched 55000 rows so far...
Fetched 56000 rows so far...
Fetched 57000 rows so far...
Fetched 58000 rows so far...
Fetched 59000 rows so far...
Fetched 60000 rows so far...
Fetched 61000 rows so far...
Fetched 62000 rows so far...
Fetched 63000 rows so far...
Fetched 64000 rows so far...
Fetched 65000 rows so far...
Fetched 66000 rows so far...
Fetched 67000 rows so far...
Fetched 68000 rows so far...
Fetched 69000 rows so far...
Fetched 70000 rows so far...
Fetched 71000 rows so far...
Fetched 72000 rows so far...
Fetched 73000 rows so far...
Fetched 74000 rows so far...
Fetched 75000 rows so far...
Fetched 76000 rows so far...
Fetched 77000 rows so far...
Fetched 78000 rows so far...
Fetched 79000 rows so far...
Fetched 80000 rows so far...
Fetched 81000 rows so far...
Fetched 82000 rows so far...
Fetched 83000 rows so far...
Fetched 84000 rows so far...
Fetched 85000 rows so far...
Fetched 86000 rows so far...
Fetched 87000 rows so far...
Fetched 88000 rows so far...
Fetched 89000 rows so far...
Fetched 90000 rows so far...
Fetched 91000 rows so far...
Fetched 92000 rows so far...
Fetched 93000 rows so far...
Fetched 94000 rows so far...
Fetched 95000 rows so far...
Fetched 96000 rows so far...
Fetched 97000 rows so far...
Fetched 98000 rows so far...
Fetched 99000 rows so far...
Fetched 100000 rows so far...
Fetched 101000 rows so far...
Fetched 102000 rows so far...
Fetched 103000 rows so far...
Fetched 104000 rows so far...
Fetched 105000 rows so far...
Fetched 106000 rows so far...
Fetched 107000 rows so far...
Fetched 108000 rows so far...
Fetched 109000 rows so far...
Fetched 110000 rows so far...
Fetched 111000 rows so far...
Fetched 112000 rows so far...
Fetched 113000 rows so far...
Fetched 114000 rows so far...
Fetched 115000 rows so far...
Fetched 116000 rows so far...
Fetched 117000 rows so far...
Fetched 118000 rows so far...
Fetched 119000 rows so far...
Fetched 120000 rows so far...
Fetched 121000 rows so far...
Fetched 121520 rows so far...
‚úÖ Done. Total rows fetched: 121520

In [ ]:
for car in response.data:
    mileage_str = car.get("c_mileage", "")

    # Ensure mileage_str is a valid string before checking
    if mileage_str:
        # Check for 'or more' pattern in mileage string
        if "or more" in mileage_str:
            min_mileage = mileage_str.split(" ")[0]  # Get the number before "or more"
            car["c_mileage_min"] = int(min_mileage)
            car["c_mileage_max"] = None  # No maximum mileage
        elif " - " in mileage_str:
            # Handle the range case as before
            min_mileage, max_mileage = mileage_str.split(" - ")
            car["c_mileage_min"] = int(min_mileage.strip())
            car["c_mileage_max"] = int(max_mileage.strip())
        else:
            # Handle cases where the mileage format is unrecognized
            car["c_mileage_min"] = None
            car["c_mileage_max"] = None
    else:
        # Handle the case when mileage_str is None or empty
        car["c_mileage_min"] = None
        car["c_mileage_max"] = None

    # Optionally remove the original c_mileage
    if "c_mileage" in car:
        del car["c_mileage"]

    # Convert c_engine from "1299cc" to 1299
    engine_str = car.get("c_engine", "")
    # Check if engine_str is not None and not empty before proceeding
    if engine_str:
        engine_str = engine_str.lower().replace("cc", "").strip()
        try:
            car["c_engine"] = int(engine_str)
        except ValueError:
            car["c_engine"] = None
    else:
        car["c_engine"] = None

# Show result
from pprint import pprint
pprint(response.data)

Streaming output truncated to the last 5000 lines.
  'c_mileage_min': 90000,
  'c_name': 'Proton ISWARA 1.3 S (M)',
  'c_price': 3500,
  'c_year': 1998,
  'id': 120965},
 {'c_condition': 'Used',
  'c_engine': 2694,
  'c_location': 'Selangor',
  'c_mileage_max': 299999,
  'c_mileage_min': 250000,
  'c_name': 'Toyota HIACE 2.5(M) ORI PAINT/1OWNER',
  'c_price': 59390,
  'c_year': 2015,
  'id': 120966},
 {'c_condition': 'Used',
  'c_engine': 2665,
  'c_location': 'Kuala Lumpur',
  'c_mileage_max': 139999,
  'c_mileage_min': 130000,
  'c_name': 'Kia PREGIO 2.7 (M) Window Van 11 Seat Tip Top',
  'c_price': 13800,
  'c_year': 2007,
  'id': 120967},
 {'c_condition': 'Used',
  'c_engine': 1496,
  'c_location': 'Selangor',
  'c_mileage_max': 54999,
  'c_mileage_min': 50000,
  'c_name': 'Honda STEPWAGON 1.5 SPADA (A)',
  'c_price': 115000,
  'c_year': 2018,
  'id': 120968},
 {'c_condition': 'Used',
  'c_engine': 1584,
  'c_location': 'Negeri Sembilan',
  'c_mileage_max': 14999,
  'c_mileage_min': 10000,
  'c_name': 'Proton WAJA 1.6 (A)',
  'c_price': 11000,
  'c_year': 2002,
  'id': 120969},
 {'c_condition': 'Used',
  'c_engine': 989,
  'c_location': 'Kedah',
  'c_mileage_max': 109999,
  'c_mileage_min': 100000,
  'c_name': 'Perodua VIVA 1.0 EZ STANDARD (A)',
  'c_price': 9300,
  'c_year': 2009,
  'id': 120970},
 {'c_condition': 'Used',
  'c_engine': 998,
  'c_location': 'Sabah',
  'c_mileage_max': 109999,
  'c_mileage_min': 100000,
  'c_name': 'Perodua AXIA 1.0 G (A)',
  'c_price': 29800,
  'c_year': 2017,
  'id': 120971},
 {'c_condition': 'Used',
  'c_engine': 1498,
  'c_location': 'Penang',
  'c_mileage_max': 299999,
  'c_mileage_min': 250000,
  'c_name': 'Nissan VANETTE 1.5 (M) special offer unit',
  'c_price': 7900,
  'c_year': 1995,
  'id': 120972},
 {'c_condition': 'Used',
  'c_engine': 1998,
  'c_location': 'Kuala Lumpur',
  'c_mileage_max': 189999,
  'c_mileage_min': 180000,
  'c_name': 'Foton VIEW C2 Petrol (M) 2.0 HIGH ROOF',
  'c_price': 39800,
  'c_year': 2015,
  'id': 120973},
 {'c_condition': 'Recon',
  'c_engine': 1,
  'c_location': 'Johor',
  'c_mileage_max': 4999,
  'c_mileage_min': 0,
  'c_name': 'Porsche TAYCAN  TURBO CROSS TURISMO MY21 (A)',
  'c_price': 349000,
  'c_year': 2023,
  'id': 120974},
 {'c_condition': 'Recon',
  'c_engine': 1496,
  'c_location': 'Kuala Lumpur',
  'c_mileage_max': 39999,
  'c_mileage_min': 35000,
  'c_name': 'Honda JADE 1.5 RS (A)',
  'c_price': 117000,
  'c_year': 2019,
  'id': 120975},
 {'c_condition': 'Used',
  'c_engine': 2362,
  'c_location': 'Johor',
  'c_mileage_max': 49999,
  'c_mileage_min': 45000,
  'c_name': 'Toyota ESTIMA 2.4 AERAS PREMIUM (A)',
  'c_price': 143000,
  'c_year': 2019,
  'id': 120976},
 {'c_condition': 'Used',
  'c_engine': 2996,
  'c_location': 'Johor',
  'c_mileage_max': 44999,
  'c_mileage_min': 40000,
  'c_name': 'Mercedes Benz C43 3.0 AMG 4MATIC (A)',
  'c_price': 168000,
  'c_year': 2018,
  'id': 120977},
 {'c_condition': 'Used',
  'c_engine': 2488,
  'c_location': 'Johor',
  'c_mileage_max': 59999,
  'c_mileage_min': 55000,
  'c_name': 'Mazda CX-5 2.5G GLS 2WD FACELIFT (A)',
  'c_price': 76000,
  'c_year': 2018,
  'id': 120978},
 {'c_condition': 'Used',
  'c_engine': 2494,
  'c_location': 'Sarawak',
  'c_mileage_max': 159999,
  'c_mileage_min': 150000,
  'c_name': 'Toyota HILUX 2.5 G VNT (A)',
  'c_price': 55800,
  'c_year': 2014,
  'id': 120979},
 {'c_condition': 'New',
  'c_engine': 1497,
  'c_location': 'Selangor',
  'c_mileage_max': 4999,
  'c_mileage_min': 0,
  'c_name': 'CLEAR STOCK Sale Gac GS3 1.5 EMZOOM PREMIUM-R',
  'c_price': 99800,
  'c_year': 2024,
  'id': 120980},
 {'c_condition': 'Used',
  'c_engine': 2362,
  'c_location': 'Johor',
  'c_mileage_max': 299999,
  'c_mileage_min': 250000,
  'c_name': 'Toyota ALPHARD 2.4 AX (A)',
  'c_price': 30000,
  'c_year': 2005,
  'id': 120981},
 {'c_condition': 'Used',
  'c_engine': 2494,
  'c_location': 'Johor',
  'c_mileage_max': 9999,
  'c_mileage_min': 5000,
  'c_name': 'Toyota HIACE 2.5 PANEL VAN 5K KM MILEAGE (M)',
  'c_price': 109000,
  'c_year': 2023,
  'id': 120982},
 {'c_condition': 'Used',
  'c_engine': 1597,
  'c_location': 'Negeri Sembilan',
  'c_mileage_max': 139999,
  'c_mileage_min': 130000,
  'c_name': 'Proton PERSONA 1.6 BASE LINE (A)',
  'c_price': 7800,
  'c_year': 2010,
  'id': 120983},
 {'c_condition': 'Used',
  'c_engine': 998,
  'c_location': 'Putrajaya',
  'c_mileage_max': 149999,
  'c_mileage_min': 140000,
  'c_name': 'Perodua AXIA 1.0 G (A)',
  'c_price': 18000,
  'c_year': 2015,
  'id': 120984},
 {'c_condition': 'Used',
  'c_engine': 2499,
  'c_location': 'Selangor',
  'c_mileage_max': 89999,
  'c_mileage_min': 85000,
  'c_name': 'Maxus V80 2.5 (M) 1OWN TIPTOP ACC FREE',
  'c_price': 83999,
  'c_year': 2020,
  'id': 120985},
 {'c_condition': 'Used',
  'c_engine': 998,
  'c_location': 'Kedah',
  'c_mileage_max': 4999,
  'c_mileage_min': 0,
  'c_name': 'Perodua AXIA 1.0 G MY23 D74A (A)',
  'c_price': 37800,
  'c_year': 2024,
  'id': 120986},
 {'c_condition': 'Used',
  'c_engine': 2156,
  'c_location': 'Kelantan',
  'c_mileage_max': 59999,
  'c_mileage_min': 55000,
  'c_name': 'Honda ACCORD 2.2 EXi (M)',
  'c_price': 7000,
  'c_year': 1997,
  'id': 120987},
 {'c_condition': 'Used',
  'c_engine': 659,
  'c_location': 'Sarawak',
  'c_mileage_max': 79999,
  'c_mileage_min': 75000,
  'c_name': 'Perodua KANCIL 659cc 660 EX (M)',
  'c_price': 4000,
  'c_year': 2001,
  'id': 120988},
 {'c_condition': 'Used',
  'c_engine': 1597,
  'c_location': 'Melaka',
  'c_mileage_max': 249999,
  'c_mileage_min': 200000,
  'c_name': 'Proton EXORA 1.6 MC B-LINE (M)',
  'c_price': 13000,
  'c_year': 2010,
  'id': 120989},
 {'c_condition': 'Used',
  'c_engine': 1298,
  'c_location': 'Perak',
  'c_mileage_max': 59999,
  'c_mileage_min': 55000,
  'c_name': 'Perodua MYVI 1.3 EZi PREMIUM (A)',
  'c_price': 20500,
  'c_year': 2013,
  'id': 120990},
 {'c_condition': 'Used',
  'c_engine': 659,
  'c_location': 'Kedah',
  'c_mileage_max': 109999,
  'c_mileage_min': 100000,
  'c_name': 'Perodua KANCIL 659cc 660 EX FACELIFT (M)',
  'c_price': 2500,
  'c_year': 2005,
  'id': 120991},
 {'c_condition': 'Used',
  'c_engine': 1486,
  'c_location': 'Sabah',
  'c_mileage_max': 109999,
  'c_mileage_min': 100000,
  'c_name': 'Toyota LITEACE 1.5 (M)',
  'c_price': 15800,
  'c_year': 1998,
  'id': 120992},
 {'c_condition': 'Used',
  'c_engine': 1798,
  'c_location': 'Terengganu',
  'c_mileage_max': 249999,
  'c_mileage_min': 200000,
  'c_name': 'Honda CIVIC 1.8 FB (A) 2013',
  'c_price': 31000,
  'c_year': 2013,
  'id': 120993},
 {'c_condition': 'Used',
  'c_engine': 847,
  'c_location': 'Johor',
  'c_mileage_max': 299999,
  'c_mileage_min': 250000,
  'c_name': 'Perodua KANCIL 847cc 850 EX (M)',
  'c_price': 3500,
  'c_year': 2001,
  'id': 120994},
 {'c_condition': 'Used',
  'c_engine': 1498,
  'c_location': 'Selangor',
  'c_mileage_max': 74999,
  'c_mileage_min': 70000,
  'c_name': 'Honda CIVIC 1.5 TC-P (A) Warrenty 2026',
  'c_price': 94999,
  'c_year': 2021,
  'id': 120995},
 {'c_condition': 'Used',
  'c_engine': 1332,
  'c_location': 'Sabah',
  'c_mileage_max': 34999,
  'c_mileage_min': 30000,
  'c_name': 'Proton SAGA 1.3 FL (M)',
  'c_price': 10000,
  'c_year': 2012,
  'id': 120996},
 {'c_condition': 'Used',
  'c_engine': 996,
  'c_location': 'Selangor',
  'c_mileage_max': 94999,
  'c_mileage_min': 90000,
  'c_name': 'Toyota TANK 1.0 G-T (A)',
  'c_price': 79500,
  'c_year': 2018,
  'id': 120997},
 {'c_condition': 'Used',
  'c_engine': 2198,
  'c_location': 'Perlis',
  'c_mileage_max': 249999,
  'c_mileage_min': 200000,
  'c_name': 'Ford TRANSIT 2.2 (M)',
  'c_price': 108000,
  'c_year': 2014,
  'id': 120998},
 {'c_condition': 'Used',
  'c_engine': 3696,
  'c_location': 'Perak',
  'c_mileage_max': 119999,
  'c_mileage_min': 110000,
  'c_name': 'Nissan 370Z 3.7 (A)',
  'c_price': 12000,
  'c_year': 2009,
  'id': 120999},
 {'c_condition': 'Used',
  'c_engine': 1298,
  'c_location': 'Kuala Lumpur',
  'c_mileage_max': 399999,
  'c_mileage_min': 350000,
  'c_name': 'Perodua MYVI 1.3 SX (M)',
  'c_price': 10000,
  'c_year': 2005,
  'id': 121000},
 {'c_condition': 'Used',
  'c_engine': 847,
  'c_location': 'Penang',
  'c_mileage_max': 94999,
  'c_mileage_min': 90000,
  'c_name': 'kancil 660',
  'c_price': 1800,
  'c_year': 1999,
  'id': 121001},
 {'c_condition': 'Used',
  'c_engine': 1296,
  'c_location': 'Negeri Sembilan',
  'c_mileage_max': 249999,
  'c_mileage_min': 200000,
  'c_name': 'Toyota COROLLA Ke50 1.3 (M)',
  'c_price': 5500,
  'c_year': 1995,
  'id': 121002},
 {'c_condition': 'Used',
  'c_engine': 1000,
  'c_location': 'Terengganu',
  'c_mileage_max': 64999,
  'c_mileage_min': 60000,
  'c_name': 'Perodua ATIVA 1.0 X (A)',
  'c_price': 55000,
  'c_year': 2023,
  'id': 121003},
 {'c_condition': 'Used',
  'c_engine': 1497,
  'c_location': 'Selangor',
  'c_mileage_max': 119999,
  'c_mileage_min': 110000,
  'c_name': 'Honda JAZZ 1.5 V (A)',
  'c_price': 58800,
  'c_year': 2017,
  'id': 121004},
 {'c_condition': 'Used',
  'c_engine': 989,
  'c_location': 'Selangor',
  'c_mileage_max': 109999,
  'c_mileage_min': 100000,
  'c_name': 'Perodua KENARI 1.0 GX AERO (M)',
  'c_price': 33200,
  'c_year': 2003,
  'id': 121005},
 {'c_condition': 'Used',
  'c_engine': 998,
  'c_location': 'Sabah',
  'c_mileage_max': 109999,
  'c_mileage_min': 100000,
  'c_name': 'Perodua AXIA 1.0 STANDARD E (M)',
  'c_price': 16900,
  'c_year': 2019,
  'id': 121006},
 {'c_condition': 'Used',
  'c_engine': 1296,
  'c_location': 'Perak',
  'c_mileage_max': 109999,
  'c_mileage_min': 100000,
  'c_name': 'Perodua RUSA 1.3 EX (M)',
  'c_price': 5500,
  'c_year': 2000,
  'id': 121007},
 {'c_condition': 'Recon',
  'c_engine': 2995,
  'c_location': 'Kuala Lumpur',
  'c_mileage_max': 19999,
  'c_mileage_min': 15000,
  'c_name': 'Porsche MACAN S 3.0L (A) 18K KM. UK SPEC. üôå',
  'c_price': 438000,
  'c_year': 2021,
  'id': 121008},
 {'c_condition': 'Used',
  'c_engine': 1468,
  'c_location': 'Pahang',
  'c_mileage_max': 109999,
  'c_mileage_min': 100000,
  'c_name': 'Proton WIRA 1.5 A/B GL (M)',
  'c_price': 4000,
  'c_year': 1995,
  'id': 121009},
 {'c_condition': 'Used',
  'c_engine': 847,
  'c_location': 'Perak',
  'c_mileage_max': 249999,
  'c_mileage_min': 200000,
  'c_name': 'Perodua KANCIL 847cc 850 EX (M)',
  'c_price': 3690,
  'c_year': 2002,
  'id': 121010},
 {'c_condition': 'Used',
  'c_engine': 847,
  'c_location': 'Perak',
  'c_mileage_max': 249999,
  'c_mileage_min': 200000,
  'c_name': 'Perodua VIVA 847cc 850 EX (M)',
  'c_price': 5600,
  'c_year': 2010,
  'id': 121011},
 {'c_condition': 'Used',
  'c_engine': 998,
  'c_location': 'Negeri Sembilan',
  'c_mileage_max': None,
  'c_mileage_min': 500000,
  'c_name': 'Austin MINI 998cc MARK I (M)',
  'c_price': 10000,
  'c_year': 1995,
  'id': 121012},
 {'c_condition': 'Used',
  'c_engine': 1496,
  'c_location': 'Kuala Lumpur',
  'c_mileage_max': 59999,
  'c_mileage_min': 55000,
  'c_name': 'Toyota VELOZ 1.5  MY22 NEW Store',
  'c_price': 84000,
  'c_year': 2023,
  'id': 121013},
 {'c_condition': 'Used',
  'c_engine': 2498,
  'c_location': 'Penang',
  'c_mileage_max': 84999,
  'c_mileage_min': 80000,
  'c_name': 'Cam PLACER-X 3.0 (M) WINDOW VAN 18 SEATER',
  'c_price': 105000,
  'c_year': 2018,
  'id': 121014},
 {'c_condition': 'Used',
  'c_engine': 989,
  'c_location': 'Kelantan',
  'c_mileage_max': 9999,
  'c_mileage_min': 5000,
  'c_name': 'Perodua VIVA 1.0 ELITE (A)',
  'c_price': 8999,
  'c_year': 2010,
  'id': 121015},
 {'c_condition': 'Used',
  'c_engine': 1415,
  'c_location': 'Selangor',
  'c_mileage_max': 54999,
  'c_mileage_min': 50000,
  'c_name': 'Ford ECONOVAN 1.4 XL (M)',
  'c_price': 7900,
  'c_year': 1995,
  'id': 121016},
 {'c_condition': 'Used',
  'c_engine': 1488,
  'c_location': 'Selangor',
  'c_mileage_max': 179999,
  'c_mileage_min': 170000,
  'c_name': 'Nissan VANETTE 1.5 AUTHENTIC (M)',
  'c_price': 14500,
  'c_year': 2010,
  'id': 121017},
 {'c_condition': 'Used',
  'c_engine': 1781,
  'c_location': 'Johor',
  'c_mileage_max': 399999,
  'c_mileage_min': 350000,
  'c_name': 'Toyota UNSER 1.8 GLi (M)',
  'c_price': 10500,
  'c_year': 1999,
  'id': 121018},
 {'c_condition': 'Used',
  'c_engine': 1789,
  'c_location': 'Selangor',
  'c_mileage_max': 49999,
  'c_mileage_min': 45000,
  'c_name': 'Ford ECONOVAN 1.8 MAXI (M)',
  'c_price': 7900,
  'c_year': 1995,
  'id': 121019},
 {'c_condition': 'Used',
  'c_engine': 1497,
  'c_location': 'Penang',
  'c_mileage_max': 119999,
  'c_mileage_min': 110000,
  'c_name': 'Honda CR-Z 1.5 (HYBRID) (M)Plate Penang',
  'c_price': 38800,
  'c_year': 2012,
  'id': 121020},
 {'c_condition': 'Used',
  'c_engine': 998,
  'c_location': 'Penang',
  'c_mileage_max': 79999,
  'c_mileage_min': 75000,
  'c_name': 'Perodua AXIA 1.0 STYLE (A)',
  'c_price': 30500,
  'c_year': 2021,
  'id': 121021},
 {'c_condition': 'Used',
  'c_engine': 1298,
  'c_location': 'Selangor',
  'c_mileage_max': 299999,
  'c_mileage_min': 250000,
  'c_name': 'Proton ISWARA 1.3 S (M)',
  'c_price': 2500,
  'c_year': 1999,
  'id': 121022},
 {'c_condition': 'Used',
  'c_engine': 847,
  'c_location': 'Sarawak',
  'c_mileage_max': 249999,
  'c_mileage_min': 200000,
  'c_name': 'Perodua KANCIL 847cc 850 EX (M)',
  'c_price': 3800,
  'c_year': 2000,
  'id': 121023},
 {'c_condition': 'Used',
  'c_engine': 2672,
  'c_location': 'Sarawak',
  'c_mileage_max': 99999,
  'c_mileage_min': 95000,
  'c_name': 'Lexus RX270 2.7 (A)',
  'c_price': 69000,
  'c_year': 2011,
  'id': 121024},
 {'c_condition': 'Used',
  'c_engine': 1997,
  'c_location': 'Perak',
  'c_mileage_max': 159999,
  'c_mileage_min': 150000,
  'c_name': 'Peugeot 407 2.0 EVENTE (A)',
  'c_price': 16800,
  'c_year': 2005,
  'id': 121025},
 {'c_condition': 'Used',
  'c_engine': 1799,
  'c_location': 'Johor',
  'c_mileage_max': 119999,
  'c_mileage_min': 110000,
  'c_name': 'Proton X70 TGDI PREMIUM 2WD 1.8L (A)',
  'c_price': 68000,
  'c_year': 2020,
  'id': 121026},
 {'c_condition': 'Used',
  'c_engine': 1332,
  'c_location': 'Johor',
  'c_mileage_max': 139999,
  'c_mileage_min': 130000,
  'c_name': 'Proton SAGA 1.3 BASE LINE (M)',
  'c_price': 4500,
  'c_year': 2008,
  'id': 121027},
 {'c_condition': 'Used',
  'c_engine': 2362,
  'c_location': 'Johor',
  'c_mileage_max': 139999,
  'c_mileage_min': 130000,
  'c_name': 'Toyota ESTIMA 2.4 (A)',
  'c_price': 37900,
  'c_year': 2007,
  'id': 121028},
 {'c_condition': 'Used',
  'c_engine': 1997,
  'c_location': 'Selangor',
  'c_mileage_max': 109999,
  'c_mileage_min': 100000,
  'c_name': 'Bmw 328i GRAN TURISMO (CKD) 2.0 (A)',
  'c_price': 51800,
  'c_year': 2014,
  'id': 121029},
 {'c_condition': 'Recon',
  'c_engine': 3996,
  'c_location': 'Kuala Lumpur',
  'c_mileage_max': 14999,
  'c_mileage_min': 10000,
  'c_name': 'Audi RS6 AVANT TFSI 4.0 CARBON BLACK EDITION',
  'c_price': 798000,
  'c_year': 2021,
  'id': 121030},
 {'c_condition': 'Used',
  'c_engine': 1997,
  'c_location': 'Kedah',
  'c_mileage_max': 189999,
  'c_mileage_min': 180000,
  'c_name': 'Mitsubishi AIRTREK 2.0 TURBO (M)',
  'c_price': 31500,
  'c_year': 2004,
  'id': 121031},
 {'c_condition': 'Used',
  'c_engine': 1597,
  'c_location': 'Johor',
  'c_mileage_max': 139999,
  'c_mileage_min': 130000,
  'c_name': 'Proton EXORA 1.6 BOLD EXECUTIVE (M)',
  'c_price': 12000,
  'c_year': 2013,
  'id': 121032},
 {'c_condition': 'Used',
  'c_engine': 1497,
  'c_location': 'Johor',
  'c_mileage_max': 139999,
  'c_mileage_min': 130000,
  'c_name': 'Honda CITY 1.5 E FACELIFT (A)',
  'c_price': 20900,
  'c_year': 2013,
  'id': 121033},
 {'c_condition': 'Used',
  'c_engine': 1998,
  'c_location': 'Johor',
  'c_mileage_max': 139999,
  'c_mileage_min': 130000,
  'c_name': 'Honda ACCORD 2.0 VTi (A)',
  'c_price': 11500,
  'c_year': 2006,
  'id': 121034},
 {'c_condition': 'Used',
  'c_engine': 1498,
  'c_location': 'Johor',
  'c_mileage_max': 139999,
  'c_mileage_min': 130000,
  'c_name': 'Nissan ALMERA 1.5 E (IMPUL) (A)',
  'c_price': 12900,
  'c_year': 2013,
  'id': 121035},
 {'c_condition': 'Used',
  'c_engine': 1495,
  'c_location': 'Johor',
  'c_mileage_max': 139999,
  'c_mileage_min': 130000,
  'c_name': 'Perodua ALZA 1.5 EZi (A)',
  'c_price': 18800,
  'c_year': 2011,
  'id': 121036},
 {'c_condition': 'Used',
  'c_engine': 1597,
  'c_location': 'Johor',
  'c_mileage_max': 139999,
  'c_mileage_min': 130000,
  'c_name': 'Proton EXORA 1.6 H-LINE CPS (A)',
  'c_price': 12500,
  'c_year': 2010,
  'id': 121037},
 {'c_condition': 'Used',
  'c_engine': 1597,
  'c_location': 'Johor',
  'c_mileage_max': 139999,
  'c_mileage_min': 130000,
  'c_name': 'Proton GEN-2 1.6 (M)',
  'c_price': 5000,
  'c_year': 2004,
  'id': 121038},
 {'c_condition': 'Used',
  'c_engine': 1495,
  'c_location': 'Terengganu',
  'c_mileage_max': 159999,
  'c_mileage_min': 150000,
  'c_name': 'Perodua MYVI 1.5 ADVANCE FACELIFT (A)',
  'c_price': 31800,
  'c_year': 2017,
  'id': 121039},
 {'c_condition': 'Used',
  'c_engine': 989,
  'c_location': 'Selangor',
  'c_mileage_max': 179999,
  'c_mileage_min': 170000,
  'c_name': 'Perodua KENARI 1.0 EZ AERO (A) ORIGINAL PAINT',
  'c_price': 7200,
  'c_year': 2007,
  'id': 121040},
 {'c_condition': 'Used',
  'c_engine': 989,
  'c_location': 'Selangor',
  'c_mileage_max': 249999,
  'c_mileage_min': 200000,
  'c_name': 'Perodua MYVI 1.0 EZ (A)',
  'c_price': 7800,
  'c_year': 2006,
  'id': 121041},
 {'c_condition': 'Used',
  'c_engine': 2488,
  'c_location': 'Johor',
  'c_mileage_max': 89999,
  'c_mileage_min': 85000,
  'c_name': 'Nissan URVAN 2.5 HIGH ROOF C (M)',
  'c_price': 96800,
  'c_year': 2018,
  'id': 121042},
 {'c_condition': 'Used',
  'c_engine': 1496,
  'c_location': 'Johor',
  'c_mileage_max': 94999,
  'c_mileage_min': 90000,
  'c_name': 'Perodua MYVI 1.5 SPEC H (AUTO)-RENDAHMUKA',
  'c_price': 34888,
  'c_year': 2019,
  'id': 121043},
 {'c_condition': 'Used',
  'c_engine': 1496,
  'c_location': 'Johor',
  'c_mileage_max': 64999,
  'c_mileage_min': 60000,
  'c_name': 'Perodua MYVI 1.5 FULL SPEC (AUTO)-RENDAHMUKA',
  'c_price': 41888,
  'c_year': 2021,
  'id': 121044},
 {'c_condition': 'Used',
  'c_engine': 1998,
  'c_location': 'Selangor',
  'c_mileage_max': 54999,
  'c_mileage_min': 50000,
  'c_name': 'Bmw X2 M35i 2.0 M-Performance 2020 X2M FSR',
  'c_price': 159000,
  'c_year': 2019,
  'id': 121045},
 {'c_condition': 'Used',
  'c_engine': 2179,
  'c_location': 'Kuala Lumpur',
  'c_mileage_max': 249999,
  'c_mileage_min': 200000,
  'c_name': 'Peugeot 508 2.2 SW GT (A)',
  'c_price': 35000,
  'c_year': 2012,
  'id': 121046},
 {'c_condition': 'Used',
  'c_engine': 1497,
  'c_location': 'Penang',
  'c_mileage_max': 169999,
  'c_mileage_min': 160000,
  'c_name': 'Honda CITY 1.5 i-DSI (A)Loan Kedai DISEDIAKAN',
  'c_price': 13900,
  'c_year': 2005,
  'id': 121047},
 {'c_condition': 'Used',
  'c_engine': 1298,
  'c_location': 'Sarawak',
  'c_mileage_max': 249999,
  'c_mileage_min': 200000,
  'c_name': 'Perodua MYVI 1.3 EZ (A)',
  'c_price': 17500,
  'c_year': 2008,
  'id': 121048},
 {'c_condition': 'Used',
  'c_engine': 989,
  'c_location': 'Johor',
  'c_mileage_max': 189999,
  'c_mileage_min': 180000,
  'c_name': '„ÄêCASH„Äë2005 Perodua KELISA 1.0 EZ (A) 1 Owner',
  'c_price': 14800,
  'c_year': 2005,
  'id': 121049},
 {'c_condition': 'Used',
  'c_engine': 989,
  'c_location': 'Johor',
  'c_mileage_max': 119999,
  'c_mileage_min': 110000,
  'c_name': '„ÄêCASH„Äë2005 Perodua KENARI 1.0 EZ (A) 1 Owner',
  'c_price': 12800,
  'c_year': 2005,
  'id': 121050},
 {'c_condition': 'Used',
  'c_engine': 1468,
  'c_location': 'Sarawak',
  'c_mileage_max': 249999,
  'c_mileage_min': 200000,
  'c_name': 'Proton WIRA 1.5 GL (A)',
  'c_price': 10000,
  'c_year': 2002,
  'id': 121051},
 {'c_condition': 'Used',
  'c_engine': 1298,
  'c_location': 'Penang',
  'c_mileage_max': 149999,
  'c_mileage_min': 140000,
  'c_name': 'Perodua MYVI 1.3 EZi FACELIFT (A) SE',
  'c_price': 13457,
  'c_year': 2010,
  'id': 121052},
 {'c_condition': 'Used',
  'c_engine': 1329,
  'c_location': 'Penang',
  'c_mileage_max': 94999,

In [ ]:
count = 0
filtered_data = []
seen_cars = set()

for car in response.data:

    has_issue = False   # Check for issues and skip if any are found

    # Check if 'c_name' is empty or None
    if not car.get("c_name"):
        print('c_name' + str(car))
        count += 1
        has_issue = True

    # Check if 'c_price' is NULL
    if car.get("c_price") is None:
        # print('c_price' + str(car))
        count += 1
        has_issue = True

    # Check if 'c_location' is empty or None
    if not car.get("c_location"):
        print('c_location' + str(car))
        count += 1
        has_issue = True

    # Check if 'c_condition' is empty or None
    if not car.get("c_condition"):
        # print('c_condition' + str(car))
        count += 1
        has_issue = True

    # Check if 'c_mileage_min' is NULL
    if car.get("c_mileage_min") is None:
        print('c_mileage_min' + str(car))
        count += 1
        has_issue = True

    # Check if 'c_year' is NULL
    if car.get("c_year") is None:
        print('c_year' + str(car))
        count += 1
        has_issue = True

    # Check if 'c_engine' is NULL
    if car.get("c_engine") is None:
        print('c_engine' + str(car))
        count += 1
        has_issue = True

    # Check for duplicates
    car_tuple = (car.get("c_name"), car.get("c_price"), car.get("c_location"),
                 car.get("c_condition"), car.get("c_mileage_min"),
                 car.get("c_mileage_max"), car.get("c_year"), car.get("c_engine"))

    if car_tuple in seen_cars:
        print(f"Duplicate car found: {car}")
        count += 1
        has_issue = True
    else:
        seen_cars.add(car_tuple)

    # If no issues, add the car to the filtered list
    if not has_issue:
        filtered_data.append(car)

print(f"‚úÖ Before. Total rows: {len(response.data)}")
print(f"‚úÖ After Done. Total valid rows: {len(filtered_data)}")
print(f"‚úÖ Removed Data: {count}")

Streaming output truncated to the last 5000 lines.
Duplicate car found: {'id': 36677, 'c_name': 'Toyota VELLFIRE 2.4 Z G-EDITION FACELIFT (A)', 'c_price': 93800, 'c_location': 'Johor', 'c_condition': 'Used', 'c_year': 2013, 'c_engine': 2362, 'c_mileage_min': 85000, 'c_mileage_max': 89999}
Duplicate car found: {'id': 36682, 'c_name': 'Toyota ALPHARD 2.5 SC (A)', 'c_price': 203000, 'c_location': 'Penang', 'c_condition': 'Recon', 'c_year': 2021, 'c_engine': 2493, 'c_mileage_min': 20000, 'c_mileage_max': 24999}
Duplicate car found: {'id': 36708, 'c_name': '/2021 Honda ODYSSEY 2.4 (A) EXV 2 POWER DOOR', 'c_price': 99900, 'c_location': 'Kuala Lumpur', 'c_condition': 'Used', 'c_year': 2016, 'c_engine': 2356, 'c_mileage_min': 110000, 'c_mileage_max': 119999}
Duplicate car found: {'id': 36722, 'c_name': 'Honda STEPWAGON 1.5 SPADA (A)', 'c_price': 165800, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2022, 'c_engine': 1496, 'c_mileage_min': 30000, 'c_mileage_max': 34999}
Duplicate car found: {'id': 36822, 'c_name': 'Toyota ALPHARD 2.5 SC (A)', 'c_price': 228000, 'c_location': 'Kuala Lumpur', 'c_condition': 'Recon', 'c_year': 2021, 'c_engine': 2493, 'c_mileage_min': 35000, 'c_mileage_max': 39999}
Duplicate car found: {'id': 36929, 'c_name': 'Mercedes Benz EQV 300 SPORT PREMIUM (A)', 'c_price': 298000, 'c_location': 'Kuala Lumpur', 'c_condition': 'Used', 'c_year': 2020, 'c_engine': 1, 'c_mileage_min': 60000, 'c_mileage_max': 64999}
Duplicate car found: {'id': 36961, 'c_name': 'Daihatsu MOVE 660cc CANBUS STRIPES G TURBO', 'c_price': 109000, 'c_location': 'Kuala Lumpur', 'c_condition': 'Recon', 'c_year': 2023, 'c_engine': 658, 'c_mileage_min': 5000, 'c_mileage_max': 9999}
Duplicate car found: {'id': 36997, 'c_name': 'Toyota VELLFIRE 3.5 EXECUTIVE LOUNGE (A)', 'c_price': 149800, 'c_location': 'Selangor', 'c_condition': 'Used', 'c_year': 2017, 'c_engine': 3456, 'c_mileage_min': 80000, 'c_mileage_max': 84999}
Duplicate car found: {'id': 36998, 'c_name': '6A 62KM / 2023 Toyota ALPHARD 2.5 Z / MODELISTA', 'c_price': 355000, 'c_location': 'Kuala Lumpur', 'c_condition': 'Recon', 'c_year': 2023, 'c_engine': 2493, 'c_mileage_min': 0, 'c_mileage_max': 4999}
Duplicate car found: {'id': 36999, 'c_name': 'Toyota ALPHARD 2.5 SC / 29K KM GRADE 4.5', 'c_price': 192000, 'c_location': 'Kuala Lumpur', 'c_condition': 'Recon', 'c_year': 2020, 'c_engine': 2493, 'c_mileage_min': 20000, 'c_mileage_max': 24999}
Duplicate car found: {'id': 37000, 'c_name': '/20 Toyota VELLFIRE 2.5 V Alpine Nice Car', 'c_price': 128000, 'c_location': 'Selangor', 'c_condition': 'Used', 'c_year': 2015, 'c_engine': 2493, 'c_mileage_min': 120000, 'c_mileage_max': 129999}
Duplicate car found: {'id': 37001, 'c_name': 'MIL-29K 2020 Toyota ALPHARD EXECUTIVE LOUNGE S 3.5', 'c_price': 288800, 'c_location': 'Kuala Lumpur', 'c_condition': 'Used', 'c_year': 2020, 'c_engine': 3456, 'c_mileage_min': 25000, 'c_mileage_max': 29999}
Duplicate car found: {'id': 37002, 'c_name': 'Toyota ALPHARD 2.5 SC/5A/HIGH SPEC/12K KM', 'c_price': 210000, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2021, 'c_engine': 2493, 'c_mileage_min': 15000, 'c_mileage_max': 19999}
Duplicate car found: {'id': 37003, 'c_name': 'Toyota ALPHARD 2.5 SC 5A/Sunroof/Monitor', 'c_price': 220000, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2022, 'c_engine': 2493, 'c_mileage_min': 0, 'c_mileage_max': 4999}
Duplicate car found: {'id': 37029, 'c_name': 'Toyota VELLFIRE 2.5 Z G EDITION (A)', 'c_price': 135000, 'c_location': 'Selangor', 'c_condition': 'Used', 'c_year': 2016, 'c_engine': 2493, 'c_mileage_min': 100000, 'c_mileage_max': 109999}
Duplicate car found: {'id': 37078, 'c_name': 'Toyota VOXY 2.0 KIRAMEKI (A)', 'c_price': 136000, 'c_location': 'Kedah', 'c_condition': 'Recon', 'c_year': 2020, 'c_engine': 1986, 'c_mileage_min': 35000, 'c_mileage_max': 39999}
c_mileage_min{'id': 37165, 'c_name': 'Toyota VELLFIRE  2.5 ZG BSM/DIM/3LED Recon', 'c_price': None, 'c_location': 'Kuala Lumpur', 'c_condition': None, 'c_year': None, 'c_engine': None, 'c_mileage_min': None, 'c_mileage_max': None}
c_year{'id': 37165, 'c_name': 'Toyota VELLFIRE  2.5 ZG BSM/DIM/3LED Recon', 'c_price': None, 'c_location': 'Kuala Lumpur', 'c_condition': None, 'c_year': None, 'c_engine': None, 'c_mileage_min': None, 'c_mileage_max': None}
c_engine{'id': 37165, 'c_name': 'Toyota VELLFIRE  2.5 ZG BSM/DIM/3LED Recon', 'c_price': None, 'c_location': 'Kuala Lumpur', 'c_condition': None, 'c_year': None, 'c_engine': None, 'c_mileage_min': None, 'c_mileage_max': None}
Duplicate car found: {'id': 37205, 'c_name': 'Toyota ALPHARD 2.5 Z (A) AUTO STEP 360CAM', 'c_price': 319000, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2023, 'c_engine': 2493, 'c_mileage_min': 5000, 'c_mileage_max': 9999}
Duplicate car found: {'id': 37260, 'c_name': 'Toyota ALPHARD 2.5 Z (A)', 'c_price': 358000, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2024, 'c_engine': 2493, 'c_mileage_min': 5000, 'c_mileage_max': 9999}
Duplicate car found: {'id': 37273, 'c_name': 'Toyota ALPHARD 2.5 Z (A) SHOWROOM CONDITION', 'c_price': 334000, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2024, 'c_engine': 2493, 'c_mileage_min': 0, 'c_mileage_max': 4999}
Duplicate car found: {'id': 37279, 'c_name': 'Honda STEPWAGON 1.5 SPADA (A)', 'c_price': 165800, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2022, 'c_engine': 1496, 'c_mileage_min': 30000, 'c_mileage_max': 34999}
Duplicate car found: {'id': 37285, 'c_name': 'Toyota ALPHARD 2.5 SC (A)', 'c_price': 209800, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2020, 'c_engine': 2493, 'c_mileage_min': 40000, 'c_mileage_max': 44999}
Duplicate car found: {'id': 37288, 'c_name': 'Toyota VELLFIRE  2.5 ZG (A)', 'c_price': 209000, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2020, 'c_engine': 2494, 'c_mileage_min': 65000, 'c_mileage_max': 69999}
Duplicate car found: {'id': 37427, 'c_name': 'Toyota Alphard 2.5 Z NEW FACELIFT/GRADE 6A 8K', 'c_price': 325000, 'c_location': 'Kuala Lumpur', 'c_condition': 'Recon', 'c_year': 2023, 'c_engine': 2493, 'c_mileage_min': 5000, 'c_mileage_max': 9999}
Duplicate car found: {'id': 37456, 'c_name': 'Honda ODYSSEY EXV 2.4L (A)', 'c_price': 174000, 'c_location': 'Kuala Lumpur', 'c_condition': 'Recon', 'c_year': 2021, 'c_engine': 2356, 'c_mileage_min': 25000, 'c_mileage_max': 29999}
Duplicate car found: {'id': 37497, 'c_name': 'Toyota ALPHARD 2.5 SC (A)', 'c_price': 208000, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2022, 'c_engine': 2493, 'c_mileage_min': 25000, 'c_mileage_max': 29999}
Duplicate car found: {'id': 37613, 'c_name': 'Toyota ALPHARD 2.5 Z (A)', 'c_price': 359000, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2023, 'c_engine': 2493, 'c_mileage_min': 15000, 'c_mileage_max': 19999}
Duplicate car found: {'id': 37746, 'c_name': 'Toyota VELLFIRE 2.5 ZG (A) SUNROOF P/BOOT', 'c_price': 162800, 'c_location': 'Selangor', 'c_condition': 'Used', 'c_year': 2017, 'c_engine': 2493, 'c_mileage_min': 80000, 'c_mileage_max': 84999}
Duplicate car found: {'id': 37809, 'c_name': 'Toyota ALPHARD 2.5 SC (A)', 'c_price': 208000, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2022, 'c_engine': 2493, 'c_mileage_min': 25000, 'c_mileage_max': 29999}
Duplicate car found: {'id': 37810, 'c_name': 'Toyota ALPHARD 2.5 SC (A)', 'c_price': 208000, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2022, 'c_engine': 2493, 'c_mileage_min': 25000, 'c_mileage_max': 29999}
Duplicate car found: {'id': 37837, 'c_name': 'RAYASALE‚úÖ2020 Honda N BOX CUSTOM 660cc L TURBO (A)', 'c_price': 94888, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2020, 'c_engine': 658, 'c_mileage_min': 10000, 'c_mileage_max': 14999}
Duplicate car found: {'id': 37921, 'c_name': '308k JB SALE UNREG 23 Toyota ALPHARD 2.5 NEW MODEL', 'c_price': 308888, 'c_location': 'Johor', 'c_condition': 'Recon', 'c_year': 2023, 'c_engine': 2493, 'c_mileage_min': 5000, 'c_mileage_max': 9999}
Duplicate car found: {'id': 38062, 'c_name': 'Toyota ALPHARD 2.5 SC (A)', 'c_price': 188000, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2021, 'c_engine': 2493, 'c_mileage_min': 25000, 'c_mileage_max': 29999}
Duplicate car found: {'id': 38102, 'c_name': 'Toyota ALPHARD 2.5 SC (A)', 'c_price': 188000, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2021, 'c_engine': 2493, 'c_mileage_min': 25000, 'c_mileage_max': 29999}
Duplicate car found: {'id': 38104, 'c_name': 'Toyota ALPHARD 2.5 SC (A)', 'c_price': 208000, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2022, 'c_engine': 2493, 'c_mileage_min': 25000, 'c_mileage_max': 29999}
Duplicate car found: {'id': 38161, 'c_name': '399K JB SALE 2024YRS Toyota VELLFIRE 2.4 Z PREMIER', 'c_price': 399888, 'c_location': 'Johor', 'c_condition': 'Recon', 'c_year': 2024, 'c_engine': 2393, 'c_mileage_min': 0, 'c_mileage_max': 4999}
Duplicate car found: {'id': 38167, 'c_name': '383K JB SALE 2023YR Toyota VELLFIRE 2.4 Z PREMIER', 'c_price': 383888, 'c_location': 'Johor', 'c_condition': 'Recon', 'c_year': 2023, 'c_engine': 2393, 'c_mileage_min': 5000, 'c_mileage_max': 9999}
Duplicate car found: {'id': 38217, 'c_name': 'Nissan SERENA 2.0 S-HYBRID PREMIUM HIGHWAY', 'c_price': 129800, 'c_location': 'Johor', 'c_condition': 'Used', 'c_year': 2024, 'c_engine': 1997, 'c_mileage_min': 25000, 'c_mileage_max': 29999}
Duplicate car found: {'id': 38225, 'c_name': 'Toyota ALPHARD 2.5 SC (A)', 'c_price': 219800, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2021, 'c_engine': 2493, 'c_mileage_min': 50000, 'c_mileage_max': 54999}
Duplicate car found: {'id': 38377, 'c_name': 'Toyota ALPHARD 2.5 Z (A)', 'c_price': 285000, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2023, 'c_engine': 2493, 'c_mileage_min': 5000, 'c_mileage_max': 9999}
Duplicate car found: {'id': 38378, 'c_name': 'Toyota ALPHARD 2.5 Z (A)', 'c_price': 285000, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2023, 'c_engine': 2493, 'c_mileage_min': 5000, 'c_mileage_max': 9999}
Duplicate car found: {'id': 38381, 'c_name': 'Toyota VOXY 2.0 ZS KIRAMEKI (A)', 'c_price': 119800, 'c_location': 'Johor', 'c_condition': 'Used', 'c_year': 2018, 'c_engine': 1986, 'c_mileage_min': 80000, 'c_mileage_max': 84999}
Duplicate car found: {'id': 38398, 'c_name': 'Toyota ALPHARD 2.5 (A)', 'c_price': 138800, 'c_location': 'Penang', 'c_condition': 'Used', 'c_year': 2015, 'c_engine': 2493, 'c_mileage_min': 95000, 'c_mileage_max': 99999}
Duplicate car found: {'id': 38406, 'c_name': 'Toyota VOXY 2.0 2PD 7SEATER 27K KM 5YR WRTY', 'c_price': 146000, 'c_location': 'Johor', 'c_condition': 'Recon', 'c_year': 2020, 'c_engine': 1986, 'c_mileage_min': 25000, 'c_mileage_max': 29999}
Duplicate car found: {'id': 38454, 'c_name': 'Toyota ALPHARD 2.5 SC (A)', 'c_price': 208000, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2022, 'c_engine': 2493, 'c_mileage_min': 20000, 'c_mileage_max': 24999}
Duplicate car found: {'id': 38455, 'c_name': 'Toyota ALPHARD 2.5 Z (A)', 'c_price': 285000, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2023, 'c_engine': 2493, 'c_mileage_min': 5000, 'c_mileage_max': 9999}
Duplicate car found: {'id': 38459, 'c_name': 'Toyota VOXY ZS Kirameki 3 (A)', 'c_price': 148000, 'c_location': 'Kedah', 'c_condition': 'Recon', 'c_year': 2021, 'c_engine': 1986, 'c_mileage_min': 25000, 'c_mileage_max': 29999}
Duplicate car found: {'id': 38621, 'c_name': 'Hyundai STARIA 2.2 MAX (A)', 'c_price': 175800, 'c_location': 'Johor', 'c_condition': 'Used', 'c_year': 2023, 'c_engine': 2199, 'c_mileage_min': 15000, 'c_mileage_max': 19999}
Duplicate car found: {'id': 38622, 'c_name': 'Toyota VOXY 2.0 ZS KIRAMEKI 3 (A)', 'c_price': 148000, 'c_location': 'Kedah', 'c_condition': 'Recon', 'c_year': 2021, 'c_engine': 1986, 'c_mileage_min': 25000, 'c_mileage_max': 29999}
Duplicate car found: {'id': 38623, 'c_name': 'Toyota ALPHARD 2.5 Z SROF ADV.PARK 6A 422KM', 'c_price': 364000, 'c_location': 'Johor', 'c_condition': 'Recon', 'c_year': 2024, 'c_engine': 2493, 'c_mileage_min': 0, 'c_mileage_max': 4999}
Duplicate car found: {'id': 38626, 'c_name': 'Toyota VOXY 2.0 ZS (A)', 'c_price': 148000, 'c_location': 'Kedah', 'c_condition': 'Recon', 'c_year': 2021, 'c_engine': 1986, 'c_mileage_min': 25000, 'c_mileage_max': 29999}
Duplicate car found: {'id': 38630, 'c_name': 'Toyota ALPHARD 2.5 Z SROF ADV.DRIVE 5A 893KM', 'c_price': 368000, 'c_location': 'Johor', 'c_condition': 'Recon', 'c_year': 2024, 'c_engine': 2493, 'c_mileage_min': 0, 'c_mileage_max': 4999}
Duplicate car found: {'id': 38642, 'c_name': 'Toyota ALPHARD 2.5 SC (A)', 'c_price': 189000, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2022, 'c_engine': 2493, 'c_mileage_min': 20000, 'c_mileage_max': 24999}
Duplicate car found: {'id': 38645, 'c_name': 'Toyota ALPHARD 2.5 Z (A)', 'c_price': 285000, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2023, 'c_engine': 2493, 'c_mileage_min': 5000, 'c_mileage_max': 9999}
Duplicate car found: {'id': 38659, 'c_name': 'Toyota ALPHARD 2.5 Z UNI.STEP 4CAM 2K KM 5YR', 'c_price': 322000, 'c_location': 'Johor', 'c_condition': 'Recon', 'c_year': 2023, 'c_engine': 2493, 'c_mileage_min': 0, 'c_mileage_max': 4999}
Duplicate car found: {'id': 38698, 'c_name': '(2022) TOYOTA ALPHARD 2.5 SC Facelift Pilot Seat', 'c_price': 229888, 'c_location': 'Penang', 'c_condition': 'Used', 'c_year': 2022, 'c_engine': 2493, 'c_mileage_min': 25000, 'c_mileage_max': 29999}
c_mileage_min{'id': 38711, 'c_name': 'Toyota ALPHARD 2.5 SC (A)', 'c_price': None, 'c_location': 'Selangor', 'c_condition': None, 'c_year': None, 'c_engine': None, 'c_mileage_min': None, 'c_mileage_max': None}
c_year{'id': 38711, 'c_name': 'Toyota ALPHARD 2.5 SC (A)', 'c_price': None, 'c_location': 'Selangor', 'c_condition': None, 'c_year': None, 'c_engine': None, 'c_mileage_min': None, 'c_mileage_max': None}
c_engine{'id': 38711, 'c_name': 'Toyota ALPHARD 2.5 SC (A)', 'c_price': None, 'c_location': 'Selangor', 'c_condition': None, 'c_year': None, 'c_engine': None, 'c_mileage_min': None, 'c_mileage_max': None}
Duplicate car found: {'id': 38717, 'c_name': 'Toyota ALPHARD 2.5 SC (A)', 'c_price': 188000, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2021, 'c_engine': 2493, 'c_mileage_min': 25000, 'c_mileage_max': 29999}
Duplicate car found: {'id': 38718, 'c_name': 'Toyota VELLFIRE 2.5 ZG 2PD 43K KM 5YR WARRNTY', 'c_price': 214000, 'c_location': 'Johor', 'c_condition': 'Recon', 'c_year': 2020, 'c_engine': 2494, 'c_mileage_min': 40000, 'c_mileage_max': 44999}
Duplicate car found: {'id': 38721, 'c_name': 'Toyota ALPHARD 2.5 SC (A)', 'c_price': 208000, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2022, 'c_engine': 2493, 'c_mileage_min': 20000, 'c_mileage_max': 24999}
Duplicate car found: {'id': 38723, 'c_name': 'Toyota ALPHARD 2.5 Z (A)', 'c_price': 285000, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2023, 'c_engine': 2493, 'c_mileage_min': 5000, 'c_mileage_max': 9999}
Duplicate car found: {'id': 38728, 'c_name': 'Toyota VELLFIRE 2.5 Z GOLDEN EYES (A)', 'c_price': 186000, 'c_location': 'Johor', 'c_condition': 'Recon', 'c_year': 2020, 'c_engine': 2494, 'c_mileage_min': 30000, 'c_mileage_max': 34999}
Duplicate car found: {'id': 38773, 'c_name': 'Honda ODYSSEY EXV 2.4L (A)', 'c_price': 172000, 'c_location': 'Johor', 'c_condition': 'Recon', 'c_year': 2021, 'c_engine': 2356, 'c_mileage_min': 20000, 'c_mileage_max': 24999}
Duplicate car found: {'id': 38775, 'c_name': 'Toyota ALPHARD 2.5 SC (A)', 'c_price': 208000, 'c_location': 'Johor', 'c_condition': 'Recon', 'c_year': 2020, 'c_engine': 2493, 'c_mileage_min': 45000, 'c_mileage_max': 49999}
Duplicate car found: {'id': 38781, 'c_name': 'Toyota ALPHARD 2.5 SC SUNROOF DIM BSM UNREG', 'c_price': 217000, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2021, 'c_engine': 2493, 'c_mileage_min': 30000, 'c_mileage_max': 34999}
Duplicate car found: {'id': 38835, 'c_name': '[HALF LEATHER] Toyota VOXY 2.0 ZS KIRAMEKI 3 2021', 'c_price': 147000, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2021, 'c_engine': 1986, 'c_mileage_min': 25000, 'c_mileage_max': 29999}
Duplicate car found: {'id': 38839, 'c_name': 'Hyundai STARIA 2.2 MAX (A)', 'c_price': 175800, 'c_location': 'Johor', 'c_condition': 'Used', 'c_year': 2023, 'c_engine': 2199, 'c_mileage_min': 15000, 'c_mileage_max': 19999}
Duplicate car found: {'id': 38866, 'c_name': 'Toyota ALPHARD 2.5 Z (A)', 'c_price': 285000, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2023, 'c_engine': 2493, 'c_mileage_min': 5000, 'c_mileage_max': 9999}
Duplicate car found: {'id': 38871, 'c_name': 'Toyota ALPHARD 2.5 Z (A)', 'c_price': 285000, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2023, 'c_engine': 2493, 'c_mileage_min': 5000, 'c_mileage_max': 9999}
Duplicate car found: {'id': 38893, 'c_name': 'Toyota ALPHARD 2.5 SC (A)', 'c_price': 198000, 'c_location': 'Kuala Lumpur', 'c_condition': 'Recon', 'c_year': 2021, 'c_engine': 2493, 'c_mileage_min': 20000, 'c_mileage_max': 24999}
Duplicate car found: {'id': 38934, 'c_name': 'Nissan ELGRAND 2.5 HIGHWAY STAR S (A) FACELIF', 'c_price': 171000, 'c_location': 'Kuala Lumpur', 'c_condition': 'Recon', 'c_year': 2021, 'c_engine': 2488, 'c_mileage_min': 40000, 'c_mileage_max': 44999}
Duplicate car found: {'id': 38966, 'c_name': 'Toyota ALPHARD 2.5 SC (A)', 'c_price': 189000, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2022, 'c_engine': 2493, 'c_mileage_min': 20000, 'c_mileage_max': 24999}
Duplicate car found: {'id': 39051, 'c_name': 'Toyota ALPHARD 2.5 S TYPE GOLD BIG PROMO', 'c_price': 172000, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2020, 'c_engine': 2493, 'c_mileage_min': 10000, 'c_mileage_max': 14999}
Duplicate car found: {'id': 39055, 'c_name': 'Toyota ALPHARD 2.5 SC BIG OFFER NOW!!!', 'c_price': 191000, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2020, 'c_engine': 2493, 'c_mileage_min': 20000, 'c_mileage_max': 24999}
Duplicate car found: {'id': 39066, 'c_name': 'Recon 2020 Toyota Alphard 2.5 TYPE GOLD 3LED Unreg', 'c_price': 185000, 'c_location': 'Penang', 'c_condition': 'Recon', 'c_year': 2020, 'c_engine': 2493, 'c_mileage_min': 30000, 'c_mileage_max': 34999}
Duplicate car found: {'id': 39097, 'c_name': 'Toyota VOXY 2.0 ZS (A)', 'c_price': 153000, 'c_location': 'Kedah', 'c_condition': 'Recon', 'c_year': 2021, 'c_engine': 1986, 'c_mileage_min': 25000, 'c_mileage_max': 29999}
Duplicate car found: {'id': 39101, 'c_name': 'Toyota VOXY 2.0 ZS (A)', 'c_price': 148000, 'c_location': 'Kedah', 'c_condition': 'Recon', 'c_year': 2021, 'c_engine': 1986, 'c_mileage_min': 40000, 'c_mileage_max': 44999}
Duplicate car found: {'id': 39110, 'c_name': 'Toyota ALPHARD 2.5 SC (A)', 'c_price': 228000, 'c_location': 'Selangor', 'c_condition': 'Recon', 'c_year': 2021, 'c_engine': 2493, 'c_mileage_min': 35000, 'c_mileage_max': 39999}
Duplicate car found: {'id': 39163, 'c_name': 'Hyundai Starex 2.5 With Pilot Seat Like New', 'c_price': 113800, 'c_location': 'Perak', 'c_condition': 'Used', 'c_year': 2019, 'c_engine': 2497, 'c_mileage_min': 60000, 'c_mileage_max': 64999}
Duplicate car found: {'id': 39177, 'c_name': 'Toyota Alphard Full Spec Big Promo', 'c_price': 165000, 'c_location': 'Kuala Lumpur', 'c_condition': 'Recon', 'c_year': 2020, 'c_engine': 2493, 'c_mileage_min': 15000, 'c_mileage_max': 19999}
Duplicate car found: {'id': 39215, 'c_name': 'Mitsubishi 2025 XPANDER Baru DISKAUN GILER KAW-KAW', 'c_price': 99980, 'c_location': 'Kuala Lumpur', 'c_condition': 'New', 'c_year': 2025, 'c_engine': 1499, 'c_mileage_min': 0, 'c_mileage_max': 4999}
Duplicate car found: {'id': 39282, 'c_name': 'Honda HR-V 1.5 TURBO V (A)', 'c_price': 115000, 'c_location': 'Selangor', 'c_condition': 'Used', 'c_year': 2024, 'c_engine': 1498, 'c_mileage_min': 15000, 'c_mileage_max': 19999}

In [ ]:
# Bulk insert all rows into the "cars" table in batches
batch_size = 1000  # Adjust batch size as needed
total_rows = len(filtered_data)
inserted_rows = 0

for i in range(0, total_rows, batch_size):
    batch_data = filtered_data[i:i + batch_size]  # Get a chunk of data
    response2 = supabase.table("cars_clean").insert(batch_data).execute()
    inserted_rows += len(batch_data)  # Update the count of inserted rows
    print(f"Inserted {inserted_rows} of {total_rows} rows so far...")

print(f"‚úÖ Done. Total rows inserted: {inserted_rows}")

Inserted 1000 of 115001 rows so far...
Inserted 2000 of 115001 rows so far...
Inserted 3000 of 115001 rows so far...
Inserted 4000 of 115001 rows so far...
Inserted 5000 of 115001 rows so far...
Inserted 6000 of 115001 rows so far...
Inserted 7000 of 115001 rows so far...
Inserted 8000 of 115001 rows so far...
Inserted 9000 of 115001 rows so far...
Inserted 10000 of 115001 rows so far...
Inserted 11000 of 115001 rows so far...
Inserted 12000 of 115001 rows so far...
Inserted 13000 of 115001 rows so far...
Inserted 14000 of 115001 rows so far...
Inserted 15000 of 115001 rows so far...
Inserted 16000 of 115001 rows so far...
Inserted 17000 of 115001 rows so far...
Inserted 18000 of 115001 rows so far...
Inserted 19000 of 115001 rows so far...
Inserted 20000 of 115001 rows so far...
Inserted 21000 of 115001 rows so far...
Inserted 22000 of 115001 rows so far...
Inserted 23000 of 115001 rows so far...
Inserted 24000 of 115001 rows so far...
Inserted 25000 of 115001 rows so far...
Inserted 26000 of 115001 rows so far...
Inserted 27000 of 115001 rows so far...
Inserted 28000 of 115001 rows so far...
Inserted 29000 of 115001 rows so far...
Inserted 30000 of 115001 rows so far...
Inserted 31000 of 115001 rows so far...
Inserted 32000 of 115001 rows so far...
Inserted 33000 of 115001 rows so far...
Inserted 34000 of 115001 rows so far...
Inserted 35000 of 115001 rows so far...
Inserted 36000 of 115001 rows so far...
Inserted 37000 of 115001 rows so far...
Inserted 38000 of 115001 rows so far...
Inserted 39000 of 115001 rows so far...
Inserted 40000 of 115001 rows so far...
Inserted 41000 of 115001 rows so far...
Inserted 42000 of 115001 rows so far...
Inserted 43000 of 115001 rows so far...
Inserted 44000 of 115001 rows so far...
Inserted 45000 of 115001 rows so far...
Inserted 46000 of 115001 rows so far...
Inserted 47000 of 115001 rows so far...
Inserted 48000 of 115001 rows so far...
Inserted 49000 of 115001 rows so far...
Inserted 50000 of 115001 rows so far...
Inserted 51000 of 115001 rows so far...
Inserted 52000 of 115001 rows so far...
Inserted 53000 of 115001 rows so far...
Inserted 54000 of 115001 rows so far...
Inserted 55000 of 115001 rows so far...
Inserted 56000 of 115001 rows so far...
Inserted 57000 of 115001 rows so far...
Inserted 58000 of 115001 rows so far...
Inserted 59000 of 115001 rows so far...
Inserted 60000 of 115001 rows so far...
Inserted 61000 of 115001 rows so far...
Inserted 62000 of 115001 rows so far...
Inserted 63000 of 115001 rows so far...
Inserted 64000 of 115001 rows so far...
Inserted 65000 of 115001 rows so far...
Inserted 66000 of 115001 rows so far...
Inserted 67000 of 115001 rows so far...
Inserted 68000 of 115001 rows so far...
Inserted 69000 of 115001 rows so far...
Inserted 70000 of 115001 rows so far...
Inserted 71000 of 115001 rows so far...
Inserted 72000 of 115001 rows so far...
Inserted 73000 of 115001 rows so far...
Inserted 74000 of 115001 rows so far...
Inserted 75000 of 115001 rows so far...
Inserted 76000 of 115001 rows so far...
Inserted 77000 of 115001 rows so far...
Inserted 78000 of 115001 rows so far...
Inserted 79000 of 115001 rows so far...
Inserted 80000 of 115001 rows so far...
Inserted 81000 of 115001 rows so far...
Inserted 82000 of 115001 rows so far...
Inserted 83000 of 115001 rows so far...
Inserted 84000 of 115001 rows so far...
Inserted 85000 of 115001 rows so far...
Inserted 86000 of 115001 rows so far...
Inserted 87000 of 115001 rows so far...
Inserted 88000 of 115001 rows so far...
Inserted 89000 of 115001 rows so far...
Inserted 90000 of 115001 rows so far...
Inserted 91000 of 115001 rows so far...
Inserted 92000 of 115001 rows so far...
Inserted 93000 of 115001 rows so far...
Inserted 94000 of 115001 rows so far...
Inserted 95000 of 115001 rows so far...
Inserted 96000 of 115001 rows so far...
Inserted 97000 of 115001 rows so far...
Inserted 98000 of 115001 rows so far...
Inserted 99000 of 115001 rows so far...
Inserted 100000 of 115001 rows so far...
Inserted 101000 of 115001 rows so far...
Inserted 102000 of 115001 rows so far...
Inserted 103000 of 115001 rows so far...
Inserted 104000 of 115001 rows so far...
Inserted 105000 of 115001 rows so far...
Inserted 106000 of 115001 rows so far...
Inserted 107000 of 115001 rows so far...
Inserted 108000 of 115001 rows so far...
Inserted 109000 of 115001 rows so far...
Inserted 110000 of 115001 rows so far...
Inserted 111000 of 115001 rows so far...
Inserted 112000 of 115001 rows so far...
Inserted 113000 of 115001 rows so far...
Inserted 114000 of 115001 rows so far...
Inserted 115000 of 115001 rows so far...
Inserted 115001 of 115001 rows so far...
‚úÖ Done. Total rows inserted: 115001